*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: #fff;
    height: 6rem;
    line-height: 6rem;
}

.choice{
    height: 195px;
    width: 195px;
    transition: all 0.5s ease;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    cursor: pointer;
    background-color: black;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: fill;
    transition: all 0.3s ease;
}

img:hover{
    width: 180px;
    height: 180px;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 6rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#userscore, #compscore{
    font-size: 6rem;
}

.msg-container{
    margin-top: 3rem;
}

#msg{
    background-color: #081b31;
    color: white;
    font-size: 13px;
    display: inline;
    padding: 1rem;
    border-radius: 10%;
}